.first {
    flex: 0 1 auto;
   }
   
   .second {
    flex: 1 1 auto;
   }
   
   .item {
    background-color: #bfdaf9;
    margin: 1px;
   }
   
   .container {
    border: solid 3px #bfdaf9;
    display: flex;
    width: 300px;
   }